<section class="hero bg-base-300 min-h-96 rounded">
    <div class="hero-overlay bg-opacity-50"></div>
    <div class="hero-content text-center text-white">
        <div class="max-w-md">
            <h1 class="text-5xl mb-5">Get organized</h1>
            <p class="text-xl mb-5">Find all your activities, accomodations, transportation, and budget in one place</p>
        </div>
    </div>
</section>
<div class="px-6">
    <section class="px-4 py-3 rounded bg-white shadow-lg w-full flex justify-center" id="action">
        <h2 class="text-2xl text-black"><a href="/" class="link link-primary">Start from scratch</a> or <a routerLink="/start-from-upload" class="link link-primary">continue from a saved plan</a></h2>
    </section>
</div>